:root {
  --body-color: #0c47bf;
  --header-color: #2d63d0;
  --body-light-color: #9bbafd;
  --shadow: #00000010;
  --title-color: #fafff8;
  --font-color: #bfe9ff;
  --font-special: #0c47bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--title-color);
}

p {
  color: var(--font-color);
}

h1 {
  font-size: 2.5rem;
}

header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  h1 {
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--title-color);
      &:hover {
        color: var(--font-special);
      }
    }
    li {
      list-style: none;
      margin: 0.5em;
    }
  }
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  img {
    height: 300px;
  }
  &.card-section {
    background-color: var(--body-light-color);
    box-shadow: 0 50vh 0 50vh var(--body-light-color);
    .card {
      background-color: var(--body-color);
      box-shadow: 3px 3px 3px var(--shadow);
      width: 20em;
      padding: 2em;
      border-radius: 0.5em;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
      }
    }
  }
}